{:kotoba.app/id "cloud.itonami.isic-6110", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreib3srji4cs6tz6dfvibqmzaqmfizhdwlg3brmp4no4vnfcjaysjpm", :kotoba.app/embed-url "ipfs://bafkreib3srji4cs6tz6dfvibqmzaqmfizhdwlg3brmp4no4vnfcjaysjpm", :published {:archive "https://kotobase.net/ipfs/bafkreib3srji4cs6tz6dfvibqmzaqmfizhdwlg3brmp4no4vnfcjaysjpm", :size 72793, :put-status 201, :get-status 200, :at "2026-08-15T13:37:40.576Z"}}
